[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1.1"
django-cors-headers = "==3.5.0"
djangorestframework = "==3.11.1"
psycopg2-binary = "==2.8.6"
django-tenants = "==3.2.1"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
server = "python3 manage.py runserver"
migrations = "python3 manage.py makemigrations"
migrate = "python3 manage.py migrate_schemas --shared"

